<div>
  <header>
    <div class="information-container">
      <h1> Mesas </h1>
      <button class="button-header-container"> ADICIONAR MESA + </button>
    </div>
  </header>

  <div class="buttons-container">
    <app-buttons-table [numberTable]="'1'" ></app-buttons-table>
    <app-buttons-table [numberTable]="'2'" ></app-buttons-table>
    <app-buttons-table [numberTable]="'3'" ></app-buttons-table>
    <app-buttons-table [numberTable]="'4'" ></app-buttons-table>
    <app-buttons-table [numberTable]="'5'" ></app-buttons-table>
    <app-buttons-table [numberTable]="'6'" ></app-buttons-table>
    <app-buttons-table [numberTable]="'7'" ></app-buttons-table>

  </div>
</div>
