<div class="main-container">
  <div class="container-header">
    <div>
      <app-side-menu></app-side-menu>
    </div>

    <div class="informations">
      <h1>EDITAR CARDÁPIO</h1>
      <app-button-header nameButton="ADICIONAR +"></app-button-header>
    </div>
  </div>

  <div class="menu">
    <div class="header">
    </div>

    <div class="container-title">
      <span>HAMBURGUERS</span>
      <lucide-icon name="circle-chevron-down" size="24" (click)="toggleMenu()" class="icon-toggle"></lucide-icon>
    </div>

    <div *ngIf="visibleMenu">
      <div *ngFor="let product of products; let i = index" class="product">
        <span class="informations-product">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
        </span>

        <div class="value-and-buttons">
          <span>R$ {{ product.price }},00</span>

          <div class="buttons">
            <button class="edit" > <lucide-icon name="pencil"></lucide-icon> </button>
            <button class="trash"> <lucide-icon name="trash-2"></lucide-icon> </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
