<div class="main-container">
  <div>
    <app-side-menu></app-side-menu>
  </div>

  <div class="modal">
    <app-adding-snacks-menu *ngIf="modal" (closeModal)="closeModal()"></app-adding-snacks-menu>
    <app-edit-product *ngIf="modalEditProduct" (closeModal)="closeModalEditProduct()"></app-edit-product>
  </div>

  <div class="header">
    <img src="/FT-PIZZARIA.png" alt="Logo da FT">
    <h1>CARDÁPIO</h1>
    <app-button-header nameButton="ADICIONAR +" (click)="openModal()"></app-button-header>
  </div>

  <div *ngFor="let category of categories; let i = index" class="menu">
    <div class="container-title">
      <span>{{ category.name }}</span>
      <lucide-icon name="circle-chevron-down" size="24" (click)="toggleMenu(i)" class="icon-toggle"></lucide-icon>
    </div>

    <div *ngIf="category.visible">
      <div *ngFor="let product of category.snacks; let j = index" class="product">
        <span class="informations-product">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
        </span>

        <div class="value-and-buttons">
          <span>R$ {{ product.price }},00</span>

          <div class="buttons">
            <button class="edit" (click)="openModalEditProduct()" > <lucide-icon name="pencil" size="20"></lucide-icon> </button>
            <button class="trash"> <lucide-icon name="trash-2" size="20"></lucide-icon> </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-final">
    <app-button-header nameButton="ADICIONAR +" (click)="openModal()"></app-button-header>
  </div>
</div>

