$color-background: #191919;
$color-white: #FFFFFF;
$color-black: #000000;


$color-secondary-orange: #FFA100;
$color-secondary-green: #015F43;
$color-secondary-red: #FF6464;
$color-secondary-gray: #323238;

$font-josefin:"Josefin Sans", sans-serif;
$font-koulen:"Koulen", sans-serif;

