<div class="background">
  <div class="main-container">
    <div class="container-form">
      <h1>EDITAR ITEM NO CARDÁPIO</h1>
      <form (ngSubmit)="onSubmit()">
        <div class="container-inputs">
          <label for="#">NOME DO ITEM</label>
          <input type="text" placeholder="Insira o nome aqui" [(ngModel)]="formData.name" name="name" required />

          <div class="select-container">
            <div class="select">
              <label for="#">CATEGORIA</label>
              <select [(ngModel)]="formData.categoryId" name="categoryId" class="category" required>
                <option value="" disabled selected>SELECIONE</option>
                <option *ngFor="let category of categories" [value]="category.id">
                  {{ category.name }}
                </option>
              </select>

              <p>{{ formData.categoryId }}</p>
            </div>
            <p (click)="openModal()">ADICIONAR NOVA CATEGORIA</p>
          </div>

          <label for="#">DESCRIÇÃO</label>
          <input type="text" placeholder="Insira a descrição aqui" [(ngModel)]="formData.description" name="description" />

          <label for="#">PREÇO</label>
          <input type="number" placeholder="Insira o preço aqui" [(ngModel)]="formData.price" name="price" />
        </div>

        <div class="buttons-container">
          <button class="btn-cancel" type="button" (click)="onCancel()">
            CANCELAR
          </button>
          <button class="btn-ok" type="submit">OK</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="modal" class="modal">
    <app-adding-new-category (closeModal)="closeModalCategory()"></app-adding-new-category>
  </div>
</div>
