<div class="main-container">
  <div class="container-header">
    <div>
      <app-side-menu></app-side-menu>
    </div>

    <div class="modal">
      <app-adding-financial *ngIf="modal" (closeModal)="closeModal()"></app-adding-financial>
    </div>

    <div class="container-side-bar-base"></div>

    <div class="informations">
      <img src="/FT-PIZZARIA.png" alt="Logo da FT">
      <h1>GESTÃO FINANCEIRO</h1>
      <app-button-header nameButton="NOVA TRANSAÇÃO" (click)="openModal()"></app-button-header>
    </div>
  </div>

  <div class="menu">
    <div class="body-summary">
      <div class="containers-summary">
        <app-container-summary title="ENTRADAS DO MÊS" typeOfValueInformation="income" icon="CircleChevronUp" classIcon="iconUp" classMainContainer="main-container"></app-container-summary>
        <app-container-summary title="SAIDAS DO MÊS" typeOfValueInformation="expenses" icon="CircleChevronDown" classIcon="iconDown" classMainContainer="main-container"></app-container-summary>
        <app-container-summary title="TOTAL" typeOfValueInformation="totalBalance" icon="DollarSign" classIcon="iconDollar" classMainContainer="main-container-green"></app-container-summary>
      </div>

    <div class="containers-transactions">
      <app-transaction-information></app-transaction-information>
    </div>
  </div>
</div>
