<div class="main-container">
  <div class="container-header">
    <div>
      <app-side-menu></app-side-menu>
    </div>

    <div class="modal">
      <app-adding-financial *ngIf="modal" (closeModal)="closeModal()"></app-adding-financial>
    </div>

    <div class="container-side-bar-base"></div>

    <div class="informations">
      <img src="/FT-PIZZARIA.png" alt="Logo da FT">
      <h1>GESTÃO FINANCEIRO</h1>
      <app-button-header nameButton="NOVA TRANSAÇÃO" (click)="openModal()"></app-button-header>
      </div>
    </div>
  </div>

  <div class="menu">
    <div class="body-summary">
      <div class="containers-summary">
        <app-container-summary title="ENTRADAS DO MÊS" typeOfValueInformation="income" icon="CircleChevronUp" classIcon="iconUp" classMainContainer="main-container" [filteredMonth]="filteredFinancials"></app-container-summary>
        <app-container-summary title="SAIDAS DO MÊS" typeOfValueInformation="expenses" icon="CircleChevronDown" classIcon="iconDown" classMainContainer="main-container" [filteredMonth]="filteredFinancials"></app-container-summary>
        <app-container-summary title="TOTAL" typeOfValueInformation="totalBalance" icon="DollarSign" classIcon="iconDollar" classMainContainer="main-container-green" [filteredMonth]="filteredFinancials"></app-container-summary>
      </div>

    <div class="containers-transactions">
      <div class="select-btn">
        <div>
          <p>MÊS INICIAL</p>
          <select class="monthSelect" [(ngModel)]="startMonth">
            <option value="" disabled selected>SELECIONE</option>
            <option value="01">JANEIRO</option>
            <option value="02">FEVEREIRO</option>
            <option value="03">MARÇO</option>
            <option value="04">ABRIL</option>
            <option value="05">MAIO</option>
            <option value="06">JUNHO</option>
            <option value="07">JULHO</option>
            <option value="08">AGOSTO</option>
            <option value="09">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
          </select>
        </div>
        <div>
          <p>MÊS FINAL</p>
          <select class="monthSelect" [(ngModel)]="endMonth">
            <option value="" disabled selected>SELECIONE</option>
            <option value="01">JANEIRO</option>
            <option value="02">FEVEREIRO</option>
            <option value="03">MARÇO</option>
            <option value="04">ABRIL</option>
            <option value="05">MAIO</option>
            <option value="06">JUNHO</option>
            <option value="07">JULHO</option>
            <option value="08">AGOSTO</option>
            <option value="09">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
          </select>
        </div>
        <div>
          <p>ANO INICIAL</p>
          <select class="monthSelect" [(ngModel)]="startYear">
            <option value="" disabled selected>SELECIONE</option>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
        <div>
          <p>ANO FINAL</p>
          <select class="monthSelect" [(ngModel)]="endYear">
            <option value="" disabled selected>SELECIONE</option>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>

        <div>
          <button (click)="confirmDate()">Confirmar</button>
        </div>
      </div>
      </div>
      <app-transaction-information [filteredMonth]="selectedMonth" [getInforms]="informsTransactions"></app-transaction-information>
    </div>
  </div>

