@import "../../../theme/variables.scss";

.informations{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  h1{
    font-family: $font-rubik;
    color: $color-white;
    font-size: 2.3rem;

    margin-top: 1rem;
  }

  img{
    width: 15rem;
    display: none;
  }
}

.container-body{
  display: block;
  flex-grow: 1;
}


.menu{
  width: 70%;
  margin: 2rem auto;
  color: $color-white;
  padding: 1rem;
  font-family: $font-konkhmer;

}

.body-summary{
  width: 55rem;
  margin: 0 auto;
}

.containers-summary{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containers-transactions{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: 3rem;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 3rem;

  span{
    font-size: 1rem;
    color: $color-secondary-green;
    font-family: $font-konkhmer;
    cursor: pointer;

    &:hover{
      color: $color-secondary-green-light;
    }
  }

  button{
    padding: 0.4rem 0.7rem;
    background-color: $color-secondary-gray;
    color: $color-white;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover{
      background-color: $color-secondary-green;
    }
  }
}

@media (max-width: 980px){
  .informations{
    flex-direction: column;

    app-button-header{
      display: none;
    }


  img{
    display: block;
  }
  }

  .containers-summary{
    width: 100%;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    gap: 0.7rem;
  }

  .body-summary{
    width: 100%;
    margin: 0 auto;
  }

  .menu{
    width: 100%;
    padding: 0.5rem;
  }
}
