<div class="main-container">
  <div class="container-header">
    <div>
      <app-side-menu></app-side-menu>
    </div>

    <div class="container-side-bar-base"></div>

    <div class="container-body">
      <app-header-pages nameButton="" title="GESTÃO DE FINANÇAS"></app-header-pages>
    </div>
  </div>

  <div class="menu">
    <div class="body-summary">
      <div class="containers-summary">
        <app-container-summary></app-container-summary>
        <app-container-summary></app-container-summary>
        <app-container-summary></app-container-summary>
      </div>

    <div class="containers-transactions">
      <app-transaction-information></app-transaction-information>
      <app-transaction-information></app-transaction-information>
      <app-transaction-information></app-transaction-information>
      <app-transaction-information></app-transaction-information>
    </div>

  </div>
</div>
