<div class="main-container">
  <div class="container-header">
    <div>
      <app-side-menu></app-side-menu>
    </div>

    <div class="informations">
      <img src="/FT-PIZZARIA.png" alt="Logo da FT">
      <h1>ESTOQUE</h1>
      <app-button-header nameButton="ADICIONAR +"></app-button-header>
    </div>
  </div>

  <div *ngFor="let stock of stocks; let i = index" class="menu">
    <div class="container-title">
      <span>{{ stock.category }}</span>
      <lucide-icon name="circle-chevron-down" size="24" (click)="toggleMenu(i)" class="icon-toggle"></lucide-icon>
    </div>

    <div *ngIf="stock.visible">
      <div *ngFor="let product of stock.products; let j = index" class="product">
        <span class="informations-product">
          <h3>{{ product.name }}</h3>
        </span>

        <div class="value-and-buttons">
          <span> 5 {{ product.unid }}</span>

          <div class="buttons">
            <button class="edit"><lucide-icon name="pencil"></lucide-icon></button>
            <button class="trash"><lucide-icon name="trash-2"></lucide-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
