<div class="main-container">
  <div>
    <app-side-menu></app-side-menu>
  </div>

  <div class="header">
    <img src="/FT-PIZZARIA.png" alt="Logo da FT">
    <h1>MESA {{ tableId }}</h1>
    <app-button-header nameButton="RELATÓRIO" [routerLink]="['/specific-desk-report', tableId]"></app-button-header>
  </div>

  <div *ngFor="let category of categories; let i = index" class="menu">
    <div class="container-title">
      <span>{{ category.name }}</span>
      <lucide-icon name="circle-chevron-down" size="24" (click)="toggleMenu(i)" class="icon-toggle"></lucide-icon>
    </div>

    <div *ngIf="category.visible">
      <div *ngFor="let product of category.snacks; let j = index" class="product">
        <span class="informations-product">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
        </span>

        <div class="value-and-buttons">
          <span class="product-span">R$ {{ formatPrice(product.price) }}</span>

          <div class="buttons">
           <button class="minus" (click)="minusValue(i, j)"> - </button>
            <span class="value"> {{ product.amount }} </span>
            <button class="plus" (click)="plusValue(i, j)"> + </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-final">
    <app-button-header nameButton="RELATÓRIO" [routerLink]="['/specific-desk-report', tableId]"></app-button-header>
  </div>

  <div class="btn-add-order">
    <button class="btn-add" (click)="addOrder()">ADICIONAR PEDIDO</button>
    <button (click)="finalizeOrder()">FINALIZAR PEDIDO</button>
   </div>
</div>
