<html>
  <div class="main-container">
    <img src="/FT-PIZZARIA.png" alt="logo ft" width="188px">

    <div class="menu-informations">
      <span>
        <lucide-icon name="armchair" size="24"></lucide-icon>
        <a [routerLink]="['/table-screen']">MESAS</a>
      </span>

      <span>
        <lucide-icon name="file-text" size="24"></lucide-icon>
        <a [routerLink]="['/table-report']">RELATÓRIO</a>
      </span>

      <span>
        <lucide-icon name="scroll-text" size="24"></lucide-icon>
        <a [routerLink]="['/table-screen']">CARDÁPIO</a>
      </span>

      <span>
        <lucide-icon name="package-search" size="24"></lucide-icon>
        <a [routerLink]="['/table-screen']">ESTOQUE</a>
      </span>

      <span>
        <lucide-icon name="circle-dollar-sign" size="24"></lucide-icon>
        <a [routerLink]="['/table-screen']">FINANCEIRO</a>
      </span>

      <span class="log-out-container">
        <a [routerLink]="['/table-screen']">SAIR</a>
        <lucide-icon name="log-out" size="23"></lucide-icon>
      </span>
    </div>
  </div>
</html>
