<div [ngClass]="classMainContainer">
  <div class="header">
    <span>{{ title }}</span>
    <lucide-icon [name]="icon" size="24" [ngClass]="classIcon"></lucide-icon>
  </div>

  <!-- Exibe apenas o valor que corresponde ao tipo de informação -->
  <span class="value" *ngIf="typeOfValueInformation === 'currentBalance'">
    R$ {{ formattedCashIn }}
  </span>

  <span class="value" *ngIf="typeOfValueInformation === 'cashIn'">
    R$ {{ formattedCashOut }}
  </span>

  <span class="value" *ngIf="typeOfValueInformation === 'cashOut'">
    R$ {{ formattedCurrentBalance }}
  </span>
</div>
