@import "../../../theme/variables.scss";

.main-container{
  h1{
    font-size: 4rem;
    text-align: center;
    font-family: $font-koulen;

    color: $color-white;
    height: 5rem;
    margin: 0;
  }

  h3{
    text-align: center;
    font-family: $font-josefin;

    color: $color-white;
    font-size: 1.8rem;
    font-weight: 300;

    margin: 1.9rem 0 1rem 0;
  }
}

.forgot-password-and-send{
  display: flex;
  flex-direction: column;

  a{
    display: flex;
    justify-content: end;
    margin: 1rem 0;
    font-family: $font-josefin;
    font-weight: 400;
    text-underline-offset: 10px;

    color: $color-secondary-orange;
    font-size: 1.2rem;
  }

  button{
    padding: 0.7rem;
    border-radius: 8px;

    background-color: $color-secondary-orange;
    font-size: 1.2rem;

    cursor: pointer;

    transition: 0.5s;

    &:hover{
      transform: scale(1.01);
    }
  }
}

@media (max-width: 770px){
  .forgot-password-and-send{
    input{
      padding: 1rem;
    }

    a{
      margin: 3rem 0;
      font-size: 1.5rem;
    }
  }

  .main-container{
    h1{
      font-size: 3rem;
      height: 4rem;
    }

    h3{
      margin-bottom: 2rem;
      width: 100%;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 340px){
  .main-container{
    h1{
      font-size: 2rem;
      height: 3rem;
    }

    h3{
      margin-bottom: 2rem;
      width: 100%;
      font-size: 1.2rem;
    }
  }
}

