@import "../../../theme/variables.scss";

div{
  display: flex;
  justify-content: center;

  border: solid 1px $color-secondary-green-light;
  border-radius: 10px;
  cursor: pointer;
}

button{
  font-size: 4rem;
  font-family: $font-konkhmer;

  background-color: transparent;
  border: none;
  color: $color-white;

  cursor: pointer;

  transition: 0.4s;

  &:hover{
    transform: scale(1.08);
    color: $color-secondary-orange;
  }
}
