@import "../../../theme/variables.scss";

.button-header-container {
  padding: 0.4rem 1.12rem;
  background-color: $color-secondary-green;
  color: $color-white;
  border: none;

  font-family: $font-konkhmer;

  cursor: pointer;

  transition: 0.5s;

  &:hover{
    transform: scale(1.05);
  }
}
