/* You can add global styles to this file, and also import other style files */
@import "../src/theme/variables.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: $color-background;
}

.custom-dialog-container {
  background-color: $color-background;
  position: fixed;
  border: solid 2px $color-white;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  overflow: auto;
}


.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.7) !important; // Fundo escuro com 70% de opacidade
}
