  <div class="background">
    <div class="main-container">
      <div class="container-form">
        <h1>ADICIONAR ITEM NO ESTOQUE</h1>
          <form (ngSubmit)="onSubmit()">
            <div class="container-inputs">
              <label for="#">NOME DO ITEM</label>
              <input type="text" placeholder="Insira o nome aqui" [(ngModel)]="formData.itemName" name="itemName" />

              <label for="#">QUANTIDADE</label>
              <input type="number" placeholder="Insira a descrição aqui" [(ngModel)]="formData.quantity" name="quantity" />

              <label for="measure">TIPO DE MEDIDA</label>
              <select class="measure" [(ngModel)]="formData.unit" name="unit">
                <option value="" disabled selected>SELECIONE</option>
                <option value="UNID.">UNID.</option>
                <option value="GRAMA(G).">GRAMA(G).</option>
                <option value="KILO(KG).">KILO(KG).</option>
                <option value="LITRO (L).">LITRO (L).</option>
                <option value="GRADE.">GRADE.</option>
              </select>
            </div>

          <div class="buttons-container">
            <button class="btn-cancel" type="button" (click)="onCancel()">
              CANCELAR
            </button>
            <button class="btn-ok" type="submit">OK</button>
          </div>
        </form>
      </div>
    </div>
  </div>
